@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.container{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px;
    text-decoration-line: none;
    width: 100%;
}

body {
    background-color: lightpink;
}


.nav, .input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.nav {
    justify-content: center;
}


.all, .favorites {
    width: 50%;
    border: 1px solid #E36414;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.all {
    background-color: #E36414;
    color: white;
    margin: 0;
    font-family: 'IM Fell French Canon', sans-serif;
}

.favorites {
    background-color: white;
    color: #E36414;
    font-family: 'IM Fell French Canon', sans-serif;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Aboreto', sans-serif;
}

.search {
    width: 62%;
    padding: 10px 10px;
}

.type {
    width: 38%;
    color: gray;
    margin: 0 10px;
    padding: 10px 10px;
}

.types {
    margin: 0;
    padding: 0;
}

.view {
    display: flex;
    width: 5%;
    justify-content: space-around;

}

.view button {
    margin: 0 5px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    /* background-color: #0F4C5C; */
    margin: 10px 5px;
    /* border: 1px solid #FB8B24; */
    color: white;
    border-radius: 5px;

}

.bold {
    font-weight: bold;
}

.grid {
    width: 175px;
}

.grid img {
    width: 175px;
    height: 175px;
    background-size: cover;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.list {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.list img {
    width: 50px;
    height: 50px;
}

.list .info {
    background-image: linear-gradient(to right, #5F0F40, #0F4C5C);
    border-radius: 5px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid .info {
    background-image: linear-gradient(to bottom right, #5F0F40, #0F4C5C);
    border-radius: 5px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: black;
    text-decoration: none;
}

.stats p{
    margin: 5px;
}

.heart {
    color: red;
    border: none;
    background: none;
    padding: 0;
    width: 20px;
    margin-right: 20px;
}

/* Pokemon individual page*/

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-big {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-top: none;
}

.big {
    width: 100%;
    max-width: 800px;
    border: 1px solid gray;
    border-bottom: none;
}

.info-pokemon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 0;
    margin: 0;
    border-top: none;
    border-bottom: 1px solid gray;
}

.stats-pokemon h1, .stats-pokemon p{
    margin: 0;
    padding: 0 20px;
}

.cp-bar, .hp-bar {
    width: 87%;
    height: 10px;
    background-color: orange;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 10px;
}

.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -15px;
}

.bar p{
    width: 3%;
    margin: 13px 10px;
}

.pokemon-health {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}

.weight, .height {
    width: 100%;
    max-width: 400px;
    border-top: 1px solid gray;
    text-align: center;
}

.weight {
    border-right: 1px solid gray;
}

.sound {
    border: none;
    background: none;
    padding: 0;
    width: 80px;
    margin: -5% 0 0% -40%;
}