@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cardbig {
    max-width: 800px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #E36414; */
    border-top: none;
    border-radius: 5px 5px 5px 5px;
}

.big {
    width: 70%;
    max-width: 800px;
    max-height: 800px;
    /* border: 1px solid gray; */
    /* border: 1px solid #E36414; */
    border-bottom: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

.infopokemon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #5F0F40, #0F4C5C);
    padding: 10px 0;
    margin: 0;
    border-top: none;
    border-bottom: 1px solid #E36414;
    color: white;
    border-radius: 20px 20px 0 0;
}

.statspokemon h1, .statspokemon p{
    margin: 0;
    padding: 0 20px;
}

.cpbar, .hpbar {
    width: 87%;
    height: 10px;
    background-color: orange;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: -15px;
    border-radius: 10px;
    border: 1px solid #E36414;
}

.hpbar {
    background-color: purple;
}

.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: -15px; */
    background-color: #0F4C5C;
    color: white;
}

.bar p{
    width: 3%;
    margin: 13px 10px;
}

.pokemonhealth {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightpink;
    border-radius: 0 0 5px 5px;
}

.weight, .height {
    width: 100%;
    max-width: 400px;
    border-top: 1px solid #E36414;
    text-align: center;
    background-image: linear-gradient(to bottom, #0F4C5C, #5F0F40);
    color: white;
    font-size: 16px;
}

.weight {
    border-right: 1px solid #E36414;
    border-radius: 0 0 0 20px;
}

.height {
    border-radius: 0 0 20px 0;
}

.sound {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    width: 80px;
    top: 10em;
    right: 20em;
    /* margin: -5% 0 0% -40%; */
}